
.cabecera{
    text-align: center;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}
body{
    background-color: beige;
    /* class="bg-gray-100 text-gray-800"*/
    
    padding: 2.5rem;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}
