
.cabecera{
    text-align: center;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}
body{
    background-color: beige;
    /* class="bg-gray-100 text-gray-800"*/    
    padding: 2.5rem;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}
div.pie{
    text-align: center;   
    margin-top: 2.5rem; 
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}
.pie-linea{    
    margin: 0;
    height: 0;
    color: inherit;
    border-top-width: 60px;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    color: #050505;
}
.pie-pagina-centro{    
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}